<div class="main-image">
  <div class="title-container col-xs-4 col-xs-offset-4">
    <h1>Joshua Tan</h1>
    <h2>Code and Design</h2>
    <br/>
    <p>Avid Lover of Sports, Web Design and Coding.</p>
    <p>Check out my portfolio below</p>
  </div>
</div>

<div class="portfolio">
  <h1>Portfolio</h1>
  <div class= "portfolio-box">

    <div class="photo-wrapper">
      <div class="box">
        <a href="https://jt-gamershound.herokuapp.com/" class="thumbnail">
          <img src="/assets/gamershaunts.jpeg">
          <span class="caption full-caption">
            <h3>Gamers Haunts</h3>
              <p>App compiling board game locations from the community!</p>
          </span>
        </a>
      </div>
    </div>

    <div class="photo-wrapper">
      <div class="box">
        <a href="https://starquotes-jt.herokuapp.com/" class="thumbnail">
          <img src="/assets/starquotes.jpeg">
          <span class="caption full-caption">
            <h3>Star Quotes</h3>
              <p>Quotes any movie buff should know!</p>
          </span>
        </a>
      </div>
    </div>

  </div>  
</div>



