<!DOCTYPE html>
<html>
<head>
  <title>Mypage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br/><br/>

<footer class="footer">
    <div class="col-xs-12 footer_comment">
      More projects by <a href="https://github.com/tohyung85">Joshua</a>
      <br class="clear"/>
      Check out <a href="http://www.thefirehoseproject.com/">Firehose Project</a> where I learned my skills!
  </div>
</footer>

</body>
</html>
